:root {
    --direction-border: 23px
}

.tooltip-wrapper {
    display: inline-block;
    position: relative;
}

.tooltip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    color: white;
    background: black;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
    animation-duration: 3s;
    animation-name: fade;
    animation-direction: alternate;
    overflow-y: scroll;
    overflow-x: scroll;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0, 0) translateX(-50%);;
    }
    100% {
        transform: scale(1, 1) translateX(-50%);;
    }
}

@keyframes gradient {
    0% {
        background-color: lightblue;
    }
    100% {
        background-color: black
    }
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

.tooltip.up {
    top: calc(var(--direction-border) * -1);
}

.tooltip.down {
    bottom: calc(var(--direction-border) * -1);
}

.tooltip.right {
    left: calc(100% + var(--direction-border));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

.tooltip.left {
    left: auto;
    right: calc(100% + var(--direction-border));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}